#container{
    height: 400px;
    width: 400px;
    border: 2px solid steelblue;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto;
}

.box{
    height: 100px;
    width: 100px;
    font-size: 50px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: grey;
}

#navi{
    height: 50px;
    width: 900px;   
    border: 2px solid rgb(4, 54, 4);
    background-color: palevioletred;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.option{
    height: 50px;
    width: 80px;
    font-size: 24px;
    margin-left: 5px;
    line-height: 50px;

}